/* Estilos que aplican a todo el Body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #cdffee;
}
/* Estilos generales para todas los section */
section {
    padding: 10px;
}
/* Estilos generales para todos los subtitulos */
h2 {
    font-size: 40px;
    border: 0;
    margin: 5px;
    text-align: center;
}
/* Estilos generales para todos los parrafos */
p {
    margin: 0px 0px; 
}
/* Estilo para el Header */
header {
    background-color: hwb(286 85% 0%);
    color: #7a7979;
    padding: 1px 0;
}
/* Titulo Principal Nombre de la empresa */
h1{
    font-family: 'DM Serif Display', serif;
    font-size: 60px;
    border: 0;
    margin: 5px;
    text-align: center;
    text-decoration:underline;
}
/* Estilos para el Navbar */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin-right: 30px;
    font-family: 'Comfortaa', cursive;
    font-family: 'DM Serif Display', serif;
}

nav a {
    color: #7a7979;
    text-decoration: none;
}
/* Estilo para la seccion sobre nosotros */
#nosotros{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #cdffee;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-family: 'DM Serif Display', serif;
    color: #7a7979;
}
/* Estilos para las imagenes en la seccion sobre nosotros */
.nosotros-image img {
    width: 100%;
    height: 100%;
    max-width: 100px;
    max-height: 200px;
    display: block;
    margin: 0 auto;
}
/* Estilo para la seccion sobre nuestros servicios */
#service {
    flex: 1;
    text-align: center;
    /* margin: 10px; */
    background-color: #cdffee;
    font-family: 'Comfortaa', cursive;
    font-family: 'DM Serif Display', serif;
    color: #7a7979;
}

.service-caja {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
}
/* Estilos para las imagenes en la seccion sobre nuestros servicios */
.service-image img {
    width: 100%;
    height: 100%;
    max-width: 150px;
    max-height: 90px;
}
/* Estilo para la seccion sobre Portafolio*/
#portafolio img{
    width: 100%;
    height: 100%;
    border: 0;
}
/* Estilo del Footer */
footer {
    background-color:hwb(286 85% 0%);
    color: #7a7979;
    padding: 1px 0;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-family: 'DM Serif Display', serif;
}
/* Estilos para las redes sociales */
.social-media {
    margin-bottom: 10px;
}

.social-media a {
    margin: 0 10px;
}

.social-media img{
    width: 100%;
    height: 100%;
    max-width: 5%;
    max-height: 5%;
}
/* Estilos para la ubicacion */
.location iframe {
    width: 100%;
    height: 300px;
    border: 0;
}




















/* Estilos que aplican responsive x340 */

@media (max-width: 360px ){
    body {
        /* font-family: Arial, sans-serif;
         margin: 0;
        padding: 0; 
        background-color: hsl(9, 82%, 41%); */
    }
    /* Estilos generales para todas los section */
    section {
        padding: 0 0px;
    }
    /* Estilos generales para todos los subtitulos */
    h2 {
        font-size: 30px;
        border: 0;
        margin: 20px;
        text-align: center;
    }
    /* Estilos generales para todos los parrafos */
    p {
    /* margin: 0px 0px;   */
    font-size: 15px;
    }
    /* Estilo para el Header */
    header {
        /* background-color: hwb(286 85% 0%);
        color: #7a7979; */
        /* padding: 10px 0; */
    }
    /* Titulo Principal Nombre de la empresa */
    h1{
        /* font-family: 'DM Serif Display', serif; */
        font-size: 40px;
        /* border: 0;
        margin: 5px;
        text-align: center;
        text-decoration:underline; */
    }
    /* Estilos para el Navbar */
    nav ul {
        display: flex;
        justify-content: center;
        flex-wrap:wrap;
        /* list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: center; */
    }
    
    nav li {
        /* display: flex;
        justify-content: center;*/
        margin-right: 15px;
        /* font-family: 'Comfortaa', cursive;
        font-family: 'DM Serif Display', serif; */
    }
    
    nav a {
        color: #7a7979;
        text-decoration: none;
    }
    /* Estilo para la seccion sobre nosotros */
    #nosotros{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        background-color: #cdffee;
        text-align: center;
        font-family: 'Comfortaa', cursive;
        font-family: 'DM Serif Display', serif;
        color: #7a7979;
    }
    /* Estilos para las imagenes en la seccion sobre nosotros */
    .nosotros-image img {
        width: 100%;
        height: 100%;
        max-width: 100px;
        max-height: 200px;
        display: block;
        margin: 0 auto;
    }
    /* Estilo para la seccion sobre nuestros servicios */
    #service {
        flex: 1;
        text-align: center;
        /* margin: 10px; */
        background-color: #cdffee;
        font-family: 'Comfortaa', cursive;
        font-family: 'DM Serif Display', serif;
        color: #7a7979;
    }
    
    .service-caja {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-around;
    }
    /* Estilos para las imagenes en la seccion sobre nuestros servicios */
    .service-image img {
        width: 100%;
        height: 100%;
        max-width: 150px;
        max-height: 90px;
    }
    /* Estilo para la seccion sobre Portafolio*/
    #portafolio img{
        width: 100%;
        height: 100%;
        border: 0;
    }
    /* Estilo del Footer */
    footer {
        background-color:hwb(286 85% 0%);
        color: #7a7979;
        padding: 1px 0;
        text-align: center;
        font-family: 'Comfortaa', cursive;
        font-family: 'DM Serif Display', serif;
    }
    /* Estilos para las redes sociales */
    .social-media {
        margin-bottom: 10px;
    }
    
    .social-media a {
        margin: 0 10px;
    }
    
    .social-media img{
        width: 100%;
        height: 100%;
        max-width: 5%;
        max-height: 5%;
    }
    /* Estilos para la ubicacion */
    .location iframe {
        width: 100%;
        height: 300px;
        border: 0;
    }
}
